Source: wazo-python-flask-session-packaging
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 12), dh-python, wget, python3-all, python3-setuptools
Standards-Version: 3.9.4
X-Python3-Version: >= 3.11

Package: python3-flask-session
Architecture: all
Depends: ${shlibs:Depends}, ${python3:Depends}, ${misc:Depends}
Description: Python library for flask
 .
 Flask-Session is an extension for Flask that adds support for
 Server-side Session to your application.
